<div class="col col-1" style="color: #31708f; font-weight: bold;" data-label="Event">Assignment</div>
<div class="col col-1-2" data-label="Date">
    {{ include.event.date | date: site.dateformat }}
    <br class="date-spliter" />{{ include.event.date | date: "%A" }}
</div>
<div class="col col-2" style="font-weight: bold" data-label="Description">
    {{ include.event.title }} released!
    <div class="schedule-lecture-links">
        {% if include.event.pdf %}
        [<a href="{{ include.event.pdf | prepend: site.baseurl }}" title="Download problems (pdf)">Problems</a>]
        {% endif %}
        {% if include.event.attachment %}
        [<a href="{{ include.event.attachment | prepend: site.baseurl }}" title="Download attachments">Attachment</a>]
        {% endif %}
        {% if include.event.solutions %}
        [<a href="{{ include.event.solutions | prepend: site.baseurl }}" title="Download solutions (pdf)">Solutions</a>]
        {% endif %}
    </div>
</div>
<div class="col col-res" data-label="Resources">
    <a href="{{ include.event.url | prepend: site.baseurl }}" title="View assignment page" style="display:inline-block;">
        <i class="fas fa-file-alt"></i> Details
    </a>
</div>
