<div class="col col-1" style="color:#ef4444; font-weight:bold;" data-label="Event">Exam</div>
<div class="col col-1-2" style="font-weight:bold;" data-label="Date">
    {% if include.event.end_date %}
        {{ include.event.date | date: site.dateformat }} – {{ include.event.end_date | date: site.dateformat }}
    {% else %}
        {{ include.event.date | date: site.dateformat }}
        <br class="date-spliter"/>{{ include.event.date | date: "%A" }}
    {% endif %}
</div>
<div class="col col-2" style="font-weight:bold;" data-label="Description">
    {{ include.event.description }}
</div>
<div class="col col-res" data-label="Resources">
    {{ include.event.content }}
</div>
